<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Parking Receipt</title>
</head>
<body>
  <h1>Parking Receipt</h1>
  <p>Car Number: <%= parking.carNumber %></p>
  <p>Arrival Time: <%= parking.arrivalTime %></p>
  <p>Departure Time: <%= parking.departureTime %></p>
  <p>Duration (hours): <%= duration %></p>
  <p>Fees: <%= fees %> USD</p>
</body>
</html>
